<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF 업로드</title>
</head>
<body>
    <h1>초기 화면</h1>
    {{#username}}
    <p>{{username}}가 접속하였습니다.</p>
    {{/username}}
    <p>누구나 접속이 가능한 화면입니다.^^</p>
    <p>접속가능한 사람 유형: 관리자, 로그인을 한 사용자, 로그인을 하지 않은 사용자</p>

    <h2>PDF 업로드</h2>
    
    <form action="/pdf/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf">
        <button type="submit">PDF 업로드</button>

    </form>
</body>
</html>