<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF 업로드</title>
</head>
<body>
    <h1>초기 화면</h1>
    {{#username}}
    <p>{{username}}가 접속하였습니다.</p>
    {{/username}}
    <p>누구나 접속이 가능한 화면입니다.^^</p>
    <p>접속가능한 사람 유형: 관리자, 로그인을 한 사용자, 로그인을 하지 않은 사용자</p>

    <h2>PDF 업로드</h2>
    
    <form id="upload-form" action="/pdf/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf">
        <button type="button" onclick="uploadAndClosePopup()">PDF 업로드</button>
    </form>
    
    <script>
        function uploadAndClosePopup() {
            var formData = new FormData(document.getElementById('upload-form'));
    
            // AJAX를 사용하여 파일 업로드 처리
            fetch('/pdf/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                if (data === 'upload_finish') {
                    alert("파일 업로드에 성공하였습니다!");
                    window.opener.location.reload(); // 메인 페이지 새로 고침
                    window.close(); // 팝업 닫기
                } else {
                    // 업로드 실패 시 추가적인 처리 가능
                    alert("File upload failed: " + data);
                }
            })
            .catch(error => {
                alert("Error during file upload: " + error.message);
            });
        }
    </script>
</body>
</html>