<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-store" />
    <meta http-equiv="Expires" content="0" />

    <title>Heart❤</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/main_favicon.ico" />
    <!-- Bootstrap icons-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" /> -->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/main_styles.css" rel="stylesheet" />

        <!-- main -> 하트를 눌러주세요 문구 색 변경 -->
        <style>

            nav {
                    height: 7vh;
                }

                header.masthead {
                    height: 65vh;
                }

                footer {
                    height: 28vh;
                }
                .masthead h1 {
                    color: rgb(218, 103, 212); /* 텍스트 색상 지정 */
                    font-family: 'seolleimcool-SemiBold'; /* 글꼴을 'seolleimcool-SemiBold'로 지정 */
                }

            .navbar-brand{
                font-family: 'Montserrat', sans-serif;
                /* font-family: 'Noto Sans', sans-serif; */
                }

            .btn-signup,
            .btn-login,
            .btn{
                font-family: 'Montserrat', sans-serif;
                /* font-family: 'Noto Sans', sans-serif; */
                /* font-family: 'Noto Sans KR', sans-serif; */
              }
          </style>
        <!-- 구글 웹폰트 적용(Heart brand text) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@300&family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navigation-->
    <!-- custom-bg-Beige: 내가 원하는 색으로 수정 -->
    <nav class="navbar navbar-light custom-bg-Beige static-top">
      <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="http://localhost:8080/user/main">Heart❤</a>
            <!-- <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-danger" style="width: 100px;" href="login">
                    <p><strong>로그인</strong></p>
                </button>
                <button type="button" class="btn btn-outline-warning" style="width: 100px;" href="signup">
                    <p><strong>회원가입</strong></p>
                </button>
            </div> -->
            <!-- 로그인 회원가입 버튼  -->
            <!-- <div class="btn-group" role="group" aria-label="Basic example"></div>
            <a class="btn btn-outline-danger btn-login mr-2" href="#login">Login</a>
            <a class="btn btn-outline-warning btn-signup" href="#signup">Signup</a> -->
        </div>
    </nav>

    <!-- Masthead-->
    <header class="masthead">
        <!-- <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/img/1.jpg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/2.jpg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/3.jpg" class="img-fluid" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div> -->
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Click Your Heart💕</h1>
                        <!-- <div class="search-form">
                              <input class="form-control form-control-lg" id="text" type="text" placeholder="관심있는 분야를 검색해주세요" data-sb-validations="required,text" />
                              <div class="invalid-feedback text-white" data-sb-feedback="SearchResult:required">Search is required.</div>
                              <div class="invalid-feedback text-white" data-sb-feedback="SearchResult:email">Search is not valid.</div>
                              <button class="btn btn-primary btn-lg active" id="submitButton" type="submit" aria-pressed="true">검색하기</button> -->
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <div class="container px-5 my-5">
                            <form id=" contactForm" data-sb-form-api-token="af3148a1-bcb4-4f8e-8d17-c17cb7aa10df">
                                <div class="row">
                                  <div class="col custom-height">
                                        <div class="mb-auto">
                                            <input class="form-control" id="newField1" type="text" style="width: 650px;"
                                                placeholder="관심있는 분야를 검색해주세요" data-sb-validations="required" />
                                            <div class="invalid-feedback" data-sb-feedback="newField1:required">검색어를 입력해주세요.</div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                            <button class="btn btn-primary btn-lg disabled" id="submitButton"
                                            type="submit">검색</button>
                                        </div>
                                    </div>
                                    <script>
                                        // 버튼이 클릭되었을 때의 동작을 정의하는 JavaScript 코드
                                        document.getElementById('submitButton').addEventListener('click', function() {
                                            window.location.href = '/user/list';
                                        });
                                    </script>
                                    
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <!-- <div class="fw-bolder">검색 성공!</div> -->
                                            <!-- <p>To activate this form, sign up at</p> -->
                                            <!-- <a -->
                                                <!-- href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a> -->
                                        </div>
                                    </div>
                                    <div class="d-none" id="submitErrorMessage">
                                        <div class="text-center text-danger mb-3">Error sending message!</div>
                                    </div>
                            </form>
                        </div>
                        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

                        <!-- <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN"> -->
                        <!-- Email address input-->
                        <!-- <div class="row">
                                    <div class="col">
                                      <input class="form-control form-control-lg" id="text" type="text" placeholder="관심있는 분야를 검색해주세요" data-sb-validations="required,text" data-sb-can-submit="yes"/>
                                      <div class="invalid-feedback text-white" data-sb-feedback="SearchResult:required">Search is required.</div>
                                      <div class="invalid-feedback text-white" data-sb-feedback="SearchResult:email">Search is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">검색하기</button></div> -->
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <!-- <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div> -->
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> -->
                    </form>
                </div>
            </div>
        </div>
        </div>
    </header>
    <!-- Icons Grid-->
    <!-- <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Fully Responsive</h3>
                            <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Bootstrap 5 Ready</h3>
                            <p class="lead mb-0">Featuring the latest build of the new Bootstrap 5 framework!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Easy to Use</h3>
                            <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- Image Showcases-->
    <!-- <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Fully Responsive Design</h2>
                        <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Updated For Bootstrap 5</h2>
                        <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 5 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 5!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Easy to Use & Customize</h2>
                        <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- Testimonials-->
    <!-- <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">What people are saying...</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="..." />
                            <h5>Margaret E.</h5>
                            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="..." />
                            <h5>Fred S.</h5>
                            <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="..." />
                            <h5>Sarah W.</h5>
                            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- Call to Action-->
    <!-- <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Ready to get started? Sign up now!</h2> -->
    <!-- Signup form-->
    <!-- * * * * * * * * * * * * * * *-->
    <!-- * * SB Forms Contact Form * *-->
    <!-- * * * * * * * * * * * * * * *-->
    <!-- This form is pre-integrated with SB Forms.-->
    <!-- To make this form functional, sign up at-->
    <!-- https://startbootstrap.com/solution/contact-forms-->
    <!-- to get an API token!-->
    <!-- <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN"> -->
    <!-- Email address input-->
    <!-- <div class="row">
        <div class="col"> -->
            <!-- <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" /> -->
            <!-- <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div> -->
            <!-- <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div> -->
            <!-- </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                            </div> -->
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    <p>To activate this form, sign up at</p>
                    <a class="text-white"
                        href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <!-- <div class="d-none" id="submitErrorMessage"> -->
                <!-- <div class="text-center text-danger mb-3">Error sending message!</div> -->
            </div>
            </form>
        </div>
    </div>
    </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-light">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                  <ul class="list-inline mb-2">
                      <li class="list-inline-item"><a href="#!">About</a></li>
                      <li class="list-inline-item">⋅</li>
                      <li class="list-inline-item"><a href="#!">Contact</a></li>
                      <li class="list-inline-item">⋅</li>
                      <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                      <li class="list-inline-item">⋅</li>
                      <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                  </ul>
                  <p class="text-muted small mb-4 mb-lg-0">© Team_Heart❣</p>
              </div>
              <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                  <ul class="list-inline mb-0">
                      <li class="list-inline-item me-4">
                          <a href="#!"><i class="bi-facebook fs-3"></i></a>
                      </li>
                      <li class="list-inline-item me-4">
                          <a href="#!"><i class="bi-twitter fs-3"></i></a>
                      </li>
                      <li class="list-inline-item">
                          <a href="#!"><i class="bi-instagram fs-3"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../static/js/main_scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>