<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Reusme Heart Site❤</title>
    
    <style>
        button {
            /* color: rgb(218, 103, 212);  */
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    <!-- 구글 웹폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Reusme Heart Site❤</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/join" method="post">
                <h1>Create Account</h1>
                <span>or use your email for registration</span>
                <input type="text" name="name" placeholder="Name" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="pwd" placeholder="Password" />
                <!-- Add any other fields you want to include -->
                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form action="/login" method="post">
                <h1>Log in</h1>
                <span>or use your account</span>
                <input type="text" name="username" placeholder="Name" />
                <input type="password" name="password" placeholder="Password" />
                <button type="submit">Log In</button>
            </form>
        </div>
        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us, please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Leave your Heart ❤</h1>
                    <p>Enter your personal details and start the journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/login.js"></script>
</body>
</html>
