/* style.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 1em;
    text-align: center;
}

header {
    background-color: #FFD700; /* 노란색 */
    color: #000; /* 글자색은 필요에 따라 조절하세요. */
}

footer {
    background-color: #87CEEB; /* 하늘색 */
    color: #000; /* 글자색은 필요에 따라 조절하세요. */
}

main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

#pdf-viewer {
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* 토글 버튼 스타일 */
.toggle-control {
    position: fixed;
    right: 10px;
    bottom: 10px;
    /* 다른 스타일 속성 */
}

/* 하트 스티커 스타일 */
.heart {
    width: 20px;
    height: 20px;
    background-image: url('C:/Users/Playdata/Download/download.png');
    position: absolute;
    /* 다른 스타일 속성 */
}
