/* style.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 1em;
    text-align: center;
}

header {
    background-color: #FFD700; /* 노란색 */
    color: #000; /* 글자색은 필요에 따라 조절하세요. */
}

footer {
    background-color: #87CEEB; /* 하늘색 */
    color: #000; /* 글자색은 필요에 따라 조절하세요. */
}

main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

#pdf-viewer {
    width: 100%;
    height: 100%;
    overflow: auto;
}
